/*/*/tmp
/.eggs
/tmp
# /
*.~lock*
*.noseids
/cytoBand.txt
/temp*
/coverage
/test*svg
/venv
/.coverage
*.pyc
*__pycache__
/*.bed
/*.fa
/docs/build
/docs/source/auto
/output
/hg19_masked_regions.tsv
*.fai
POG*
*.egg-info*
build
dist
src
mavis/version.py
/docs/source/config_settings_glossary.rst
